<!--<footer class="footer">-->
<!--  <div class="container">-->
<!--    <span class="text-muted">Place sticky footer content here.</span>-->
<!--  </div>-->
<!--</footer>-->


<div class="footerWrap">

  <footer >
    <div class="container">
      <p class="copyright-text">
        Copyright @ 2020 Logigroup - <u>Mentions légales</u>
      </p>
    </div>
  </footer>

</div>

